<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>SDFC BANK · Balance</title>
<link rel="icon" th:href="@{/images/bank.png}" type="image/png">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="form-container">

		<div class="form-card">


			<div class="success-message" th:if="${success}" id="successMessage">
				<p th:text="${success}"></p>
			</div>
			<div class="error-message" th:if="${error}" id="errorMessage">
				<p th:text="${error}"></p>
			</div>


			<h2>Balance Inquiry</h2>



			<form th:action="@{/bank/checkbalance}" th:object="${balanceDTO}"
				method="post">

				<label>Account Number</label> <input type="text"
					th:field="*{accountNumber}" placeholder="Enter Account Number"
					required> <span class="field-error"
					th:if="${#fields.hasErrors('accountNumber')}"
					th:errors="*{accountNumber}"> </span> <br> <label>Phone
					Number</label> <input type="text" th:field="*{phoneNumber}"
					placeholder="Enter Phone Number" required> <span
					class="field-error" th:if="${#fields.hasErrors('phoneNumber')}"
					th:errors="*{phoneNumber}"></span> <br> <label>Aadhar
					No</label> <input type="text" th:field="*{aadharNumber}"
					placeholder="Enter Aadhar Number" required> <span
					class="field-error" th:if="${#fields.hasErrors('aadharNumber')}"
					th:errors="*{aadharNumber}"></span> <br>



				<button type="submit">Check Balance</button>

			</form>


			<!-- Balance Result -->
			<div class="balance-card" th:if="${balance != null}">

				<h3>Account Details</h3>

				<table class="balance-table">

					<tr>
						<td><strong>Account Number</strong></td>
						<td th:text="${accountNumber}"></td>
					</tr>

					<tr>
						<td><strong>Available Balance</strong></td>
						<td>₹ <span th:text="${balance}"></span>
						</td>
					</tr>

				</table>

			</div>






		</div>
	</div>




	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>