
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SDFC BANK · Home</title>
<link rel="icon" th:href="@{/images/bank.png}" type="image/png">
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/navbar :: navbar}"></div>


	<div class="form-container">

		<div class="form-card">
		
		
		
		</div>
		</div>
		
		
		<div th:replace="~{fragments/footer :: footer}"></div>