<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SDFC Bank.Deposit</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="icon" th:href="@{/images/bank.png}" type="image/png">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="form-container">

<div class="form-card">
	<div class="success-message" th:if="${success}" id="successMessage">
				<p th:text="${success}"></p>
			</div>
			<div class="error-message" th:if="${error}" id="errorMessage">
				<p th:text="${error}"></p>
			</div>

 <h2>Deposit Money</h2>

<form th:action="@{/bank/deposit}" th:object="${depositDTO}" method="post">

	<label>Account Number</label>
	<input type="text" th:field="*{accountNumber}" placeholder="Enter Account Number" required>
	<span class="field-error" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span>
	<br>

	<label>Deposit Amount</label>
	<input type="number" th:field="*{depositAmount}" min="1" step="0.01" placeholder="Enter Deposit Amount" required>
	<span class="field-error" th:if="${#fields.hasErrors('depositAmount')}" th:errors="*{depositAmount}"></span>
	<br>

 <label>Aadhar Number</label>
 <input type="text" th:field="*{aadharNumber}" placeholder="Enter Aadhar Number" required>
 <span class="field-error" th:if="${#fields.hasErrors('aadharNumber')}" th:errors="*{aadharNumber}"></span>
 




	<button type="submit">Deposit</button>
	</form>
<br>
<hr>

<!-- Show only after successful deposit -->
<div th:if="${success}">

    <br>
    <hr>

    <h3>Account Information</h3>

    <table class="account-info-table">

        <tr>
            <th>Account Holder Name</th>
            <td th:text="${accountHolderName}"></td>
        </tr>

        <tr>
            <th>Account Number</th>
            <td th:text="${accountNumber}"></td>
        </tr>

        <tr>
            <th>Aadhaar Number</th>
            <td th:text="${'********' + #strings.substring(aadharNumber,8,12)}"></td>
        </tr>

        <tr>
            <th>Deposited Amount</th>
            <td>₹ <span th:text="${depositAmount}"></span></td>
        </tr>

        <tr>
            <th>Updated Balance</th>
            <td>₹ <span th:text="${updatedBalance}"></span></td>
        </tr>

    </table>


</div>



</div>
</div>





	<div th:replace="~{fragments/footer :: footer}"></div>

</body>


</html>